* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#f8f7f9;
}

.container {
  max-width: auto;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 10px;
}

#title {
  font-family: 'Josefin Sans';
  background-color: #ff784f;
  color: white;
  width: auto;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 40px;
}

#selectSub {
  font-family: 'Josefin Sans';
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
  background-color: #333533;
  color: white;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  border: 2px solid grey;
}

.subList{
  text-align: center;
}

.subList-btn{
  font-family: 'Open Sans';
  background-color: #ff784f;
  font-size: 16px;
  margin-top: 5px;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  border: 2px solid #242423;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.subList-btn:hover{
  background-color: #242423;
  color: #ff784f;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#searchAgain{
  display: flex;
  justify-content: center;
  font-family: 'Open Sans';
  background-color: #ff784f;
  font-size: 16px;
  margin-top: 10px;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  border: 2px solid #242423;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-left: auto;
  margin-right: auto;
}

#searchAgain:hover{
  background-color: #242423;
  color: #ff784f;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button, input[type="text"] {
  padding: 5px;
}

.label {
  font-size: 20px;
}

#js-form {
  font-family: 'Josefin Sans';
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #333533;
  border-radius: 4px;
  border: 2px solid grey;
  color: white;
  width: 825px;
  height: 350px;
}

#searchBand {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}

#headsUp {
  text-align: center;
  margin-top: 0;
  font-size: 16px;
}

#js-search-term{
  margin-bottom: 0px;
  font-family: 'Open Sans';
  border: 2px solid grey;
}

#js-max-results {
  padding: 4px;
  margin-top: 10px;
  font-family: 'Open Sans';
  border: 2px solid grey;
}

#searchGo {
  font-family: 'Josefin Sans';
  background-color: #ff784f;
  margin-top: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid grey;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-top: 25px;
  margin-bottom: 100px;
}

.error-message {
    color: red;
}

.results {
  font-family: 'Open Sans';
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 5px #b80c09;
  border-radius: 6px;
  margin-right: 10px;
  margin-left: 20px;
  width: 650px;
  height: auto;
  background-color: white;
  height: 800px;
  overflow-y: auto;
}

.resultsVids {
  font-family: 'Open Sans';
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  border: solid 5px #b80c09;
  border-radius: 6px;
  margin-left: 10px;
  width: 650px;
  font-size: 16px;
  background-color: white;
  height: 800px;
  overflow-y: auto;
}

#searchResultsHeader{
  font-family: 'Josefin Sans';
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}

#linkLine{
  font-family: 'Josefin Sans';
  font-size: 20px;
  text-decoration: underline;
}

#chanTitle {
  font-family: 'Open Sans';
  font-size: 16px;
}

#chanDescrip {
  font-family: 'Open Sans';
  font-size: 16px;
}

.hidden {
  display: none;
}

#resultsContainer{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}


@media only screen and (min-width: 300px) and (max-width: 767px) {

  body {
    line-height: 1.5;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#f8f7f9;;
  }

  .container {
    width: auto;
  }

  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 10px;
  }

  #title {
    font-family: 'Josefin Sans';
    background-color: #ff784f;
    color: white;
    width: auto;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    font-size: 40px;
  }

  #selectSub {
    font-family: 'Josefin Sans';
    background-color: #333533;
    margin-top: 150px;
    text-align: center;
    font-size: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border: 2px solid grey;
  }

  .subList{
    text-align: center;
  }

  .subList-btn{
    font-family: 'Open Sans';
    background-color: #ff784f;
    font-size: 14px;
    margin-top: 5px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border: 2px solid #242423;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  .subList-btn:hover{
    background-color: #242423;
    color: #ff784f;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  button, input[type="text"] {
    padding: 5px;
  }

  #js-form {
    font-family: 'Josefin Sans';
    background-color: #333533;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 4px;
    border: 2px solid grey;
    color: white;
    width: 300px;
    height: 460px;
    line-height: 28px;
  }

  #searchBand {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
  }

  #headsUp {
    text-align: center;
    margin-top: 0;
    font-size: 16px;
  }


  #js-search-term{
    padding: 4px;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    border: 2px solid grey;
  }

  #js-max-results {
    padding: 4px;
    margin-top: 15px;
    font-family: 'Open Sans';
    border: 2px solid grey;
  }

  #searchGo {
    font-family: 'Josefin Sans';
    background-color: #ff784f;
    font-size: 20px;
    margin-top: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid grey;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-top: 25px;
    margin-bottom: 100px;
  }

  .error-message {
      color: red;
  }

  #resultsContainer {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }

  .results {
    font-family: 'Open Sans';
    font-size: 16px;
    padding: 10px;
    border: solid 5px #b80c09;
    background-color: white;
    width: 350px;
    height: 500px;
    overflow-y: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .resultsVids {
    font-family: 'Open Sans';
    padding-right: 10px;
    border: solid 5px #b80c09;
    font-size: 16px;
    background-color: white;
    width: 350px;
    height: 500px;
    overflow-y: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  #searchResultsHeader{
    font-family: 'Josefin Sans';
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
  }
  
  #linkLine{
    font-family: 'Josefin Sans';
    font-size: 20px;
    text-decoration: underline;
  }
  
  #chanTitle {
    font-family: 'Open Sans';
    font-size: 16px;
  }
  
  #chanDescrip {
    font-family: 'Open Sans';
    font-size: 16px;
  }

  #iframeVid{
    width: 320px;
    margin-right: 0px;
  }

  .hidden {
    display: none;
  }


}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    line-height: 1.5;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#f8f7f9;
  }

  .container {
    width: auto;
  }

  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 10px;
  }

  #title {
    font-family: 'Josefin Sans';
    background-color: #ff784f;
    color: white;
    width: auto;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    font-size: 40px;
  }

  #selectSub {
    font-family: 'Josefin Sans';
    background-color: #333533;
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
  }

  .subList{
    text-align: center;
  }

  .subList-btn{
    font-family: 'Open Sans';
    background-color: #ff784f;
    font-size: 14px;
    margin-top: 5px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border: 2px solid #242423;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  .subList-btn:hover{
    background-color: #242423;
    color: #ff784f;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  button, input[type="text"] {
    padding: 5px;
  }

  .label {
    font-size: 20px;
  }

  #js-form {
    font-family: 'Josefin Sans';
    background-color: #333533;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 4px;
    border: 2px solid grey;
    color: white;
    width: 575px;
    height: 325px;
    line-height: 16px;
  }   

  #searchBand {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
  }

  #headsUp {
    text-align: center;
    margin-top: 0;
    font-size: 16px;
  }

  #js-search-term{
    margin-bottom: 0px;
    font-family: 'Open Sans';
    border: 2px solid grey;
  }

  #js-max-results {
    padding: 4px;
    margin-top: 10px;
    font-family: 'Open Sans';
    border: 2px solid grey;
  }

  #searchGo {
    font-family: 'Josefin Sans';
    background-color: #ff784f;
    font-size: 16px;
    margin-top: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid grey;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-top: 25px;
    margin-bottom: 100px;
  }

  .error-message {
      color: red;
  }

  .results {
    font-family: 'Open Sans';
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: solid 5px #b80c09;
    background-color: white;
    width: 375px;
    height: 550px;
    overflow-y: auto;
  }

  .resultsVids {
    font-family: 'Open Sans';
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: solid 5px #b80c09;
    font-size: 16px;
    background-color: white;
    width: 375px;
    height: 550px;
    overflow-y: auto;
  }
  #searchResultsHeader{
    font-family: 'Josefin Sans';
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
  }
  
  #linkLine{
    font-family: 'Josefin Sans';
    font-size: 20px;
    text-decoration: underline;
  }
  
  #chanTitle {
    font-family: 'Open Sans';
    font-size: 16px;
  }
  
  #chanDescrip {
    font-family: 'Open Sans';
    font-size: 16px;
  }

  .hidden {
    display: none;
  }

  #iframeVid{
    width: 320px;
    margin-right: 0px;
  }

}