* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  /* font-family: 'Cinzel Decorative', cursive;
  font-family: 'Cinzel', serif;
  font-family: 'Amiri', serif; */
}

.container {
  max-width: auto;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 10px;
}

#title {
  font-family: 'Cinzel Decorative', cursive;
  background-color: Black;
  color: white;
  width: auto;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 40px;
}

#selectSub {
  font-family: 'Cinzel', serif;
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
}

.subList-btn{
  margin-top: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: black;
  border-radius: 4px;
  border: 2px solid grey;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.subList-btn:hover{
  background-color: white;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

#js-form {
  font-family: 'Cinzel', serif;
  margin-top: 50px;
}

#searchBand {
  text-align: center;
  font-size: 30px;
}

#headsUp {
  text-align: center;
  margin-top: 0;
  font-size: 24px;
}

#js-search-term{
  margin-bottom: 0px;
  font-family: 'Cinzel', serif;
}

#js-max-results {
  padding: 4px;
  margin-top: 10px;
  font-family: 'Cinzel', serif;
}

#searchGo {
  margin-top: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: black;
  border-radius: 4px;
  border: 2px solid grey;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.error-message {
    color: red;
}

.results {
  font-family: 'Amiri', serif;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 5px;
  margin-right: 10px;
  width: 800px;
  height: auto;
}

.resultsVids {
  font-family: 'Amiri', serif;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 5px;
  margin-left: 10px;
  width: 800px;
}

.hidden {
  display: none;
}

#resultsContainer{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}



#headsUp{
  font-size: 12px;
  margin-top: 0;
}

/* @media only screen and (max-width: 767px) {
  body {
    font-family: 'Roboto', sans-serif;
  }

  #title {
    color: black;
    font-family: 'Vollkorn', serif;
    text-align: center;
    font-size: 26px;
  }

  #selectSub {
    font-size: 20px;
    line-height: 24px;
    font-family: 'Vollkorn', serif;
    text-align: center;
  }

  #searchBand {
    color: black;
    font-family: 'Vollkorn', serif;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }

  #js-search-term{
    display: flex;
    justify-content: flex-start;
  }

  #js-max-results{
    display: flex;
    justify-content: flex-start;
  }

  #thumbnail {
    width: 300px;
  }

  input[type="text"] {
    padding: 5px;
    border-color: black;
    margin-bottom: 2px;
  }

  input[type="number"] {
    padding: 5px;
    border-color: black;
  }

  input[type="button"] {
    padding: 5px;
    border-radius: 10px;
    border-color: black;
    background-color: white;
    margin-top: 2px;
    margin-bottom: 2px;

  }

  input[type="submit"] {
    padding: 5px;
    border-color: black;
    background-color: white;
  }

  button:hover {
    cursor: pointer;
  }

  .results {
    padding: 10px;
    margin-bottom: 10px;
  }

  .resultsVids {
    padding: 10px;
    margin-bottom: 10px;
  }

}

@media only screen and (max-width: 1024px) {
  body {
    font-family: 'Roboto', sans-serif;
  }

  #title {
    color: black;
    font-family: 'Vollkorn', serif;
    text-align: center;
    font-size: 26px;
  }

  #selectSub {
    font-size: 20px;
    line-height: 24px;
    font-family: 'Vollkorn', serif;
    text-align: center;
  }

  #searchBand {
    color: black;
    font-family: 'Vollkorn', serif;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }

  #js-search-term{
    display: flex;
    justify-content: flex-start;
  }

  #js-max-results{
    display: flex;
    justify-content: flex-start;
  }

  input[type="text"] {
    padding: 5px;
    border-color: black;
    margin-bottom: 2px;
  }

  input[type="number"] {
    padding: 5px;
    border-color: black;
  }

  input[type="button"] {
    padding: 5px;
    border-radius: 10px;
    border-color: black;
    background-color: white;
    margin-top: 2px;
    margin-bottom: 2px;

  }

  input[type="submit"] {
    padding: 5px;
    border-color: black;
    background-color: white;
  }

  button:hover {
    cursor: pointer;
  }


} */
